<form method="post" action="">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {% load crispy_forms_filters %}
    {% load custom_crispy %}
    <div class="container modal-body pt-1">
        <div class="row">
            <div class="col">
                <button class="btn close float-end p-0" type="button" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div>
                    {{ form.name|as_crispy_field }}
                    {{ form.description|as_crispy_field }}
                </div>
                <div>
                    <h6>Comments</h6>
                        <div class="row gx-2 mb-3">
                            <div class="col">
                                {{ comment_form.description|remove_label|as_crispy_field }}
                            </div>
{#                            {% crispy comment_form %}#}
                            <div class="col-auto">
                            <button type="submit" name="comment_submit" class="btn btn-primary" onclick="setSubmitButtonName(this)">
                                <i class="bi bi-send-fill"></i>
                            </button>
                            </div>
                        </div>
                        <div class="mb-3">
                            {% for comment in comments %}
                                <div class="row gx-2">
                                    <div class="col">
                                        <input class="form-control mb-3" type="text" value="{{ comment.description }}" aria-label="readonly input example" readonly>
                                    </div>
                                    <div class="col-auto">
                                        {% url 'issue-comment-delete' comment.id as comment_delete_url %}
                                    {% include 'modal/modal_delete_button.html' with button_class="btn-outline-dark" url=comment_delete_url %}
                                    </div>

                                </div>

                            {% endfor %}
                        </div>
                </div>
            </div>

            <div class="col-4">
                <h6>Details</h6>
                {% include 'inline_field.html' with field=form.project %}
                {% include 'inline_field.html' with field=form.issue_type %}
                {% include 'inline_field.html' with field=form.color_label %}
                {% include 'inline_field.html' with field=form.parent_issue %}
                {% include 'inline_field.html' with field=form.start_date %}
                {% include 'inline_field.html' with field=form.end_date %}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            <button type="submit" name="issue_submit" class="btn btn-primary" onclick="setSubmitButtonName(this)">Save</button>
        </div>
    </div>
</form>
{#<form id="comment-form" method="post" action="">#}
{#    {% csrf_token %}#}
{#</form>#}
