.profile {
  margin-top: 50px;
}

.profile-card {
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f8f8;
}

.profile-picture {
  text-align: center;
  margin-bottom: 20px;
}

.profile-picture img {
  width: 150px;
  height: 150px;
  border: 1px solid lightgray;
  border-radius: 50%;
  object-fit: cover;
}

.profile-details {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.field {
  margin-bottom: 20px;
}

.field-name {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.field-value {
    font-size: 12px;
}