{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row py-3">
        <div class="col">
            To do
        </div>
        <div class="col">
            In progress
        </div>
        <div class="col">
            Done
        </div>
    </div>
    <div class="row row-cols-3">
        <div class="col sortable">
            {% for issue in object_list %}
                <div id="col1_{{issue.id}}" class="card mb-3">
                    <div class="card-header">{{issue.issue_type}}</div>
                    <div class="card-body">
                        <p class="card-text">{{issue.name}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col sortable">
            <div id="col2_02" class="card mb-3">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Card 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col sortable">
            <div id="col3_03" class="card mb-3">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Card 3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}