{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row py-3">
        <div class="col">
            Column1
        </div>
        <div class="col">
            Column2
        </div>
        <div class="col">
            Column3
        </div>
    </div>
    <div class="row row-cols-3 sortable gy-3">
        <div id="item-1" class="col">
            <div class="card">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Card 1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div id="item-2" class="col">
            <div class="card">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Card 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div id="item-3" class="col">
            <div class="card">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Card 3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div id="item-4" class="col">
            <div class="card">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Card 4</h5>
                    <p class="card-text">Some quick example text to b1uild on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div id="item-5" class="col">
            <div class="card">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Card 5</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div id="item-6" class="col">
                <div class="card">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Card 6</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}