<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" id="notificationsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-bell"></i>
        {% if invitation_list|length > 0 %}
            <span class="badge bg-danger">{{ invitation_list|length }}</span>
        {% endif %}
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationsDropdown">
        {% for invitation in invitation_list %}
            <li>
                <div class="dropdown-item invitation">
                    <div class="invitation-content me-2">
                        <h6> Join Project </h6>
                        <p>You have a new invitation from <strong>{{ invitation.created_by.username }}</strong> to join project <strong>{{ invitation.permission_group.project.name }}</strong></p>
                    </div>
                    <div class="invitation-buttons">
                        <form action="{% url 'invitation-accept' invitation.pk %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success"><i class="bi bi-check-circle"></i></button>
                        </form>
                        <form action="{% url 'invitation-reject' invitation.pk %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger"><i class="bi bi-x-circle"></i></button>
                        </form>
                    </div>
                </div>
            </li>
        {% empty %}
            <li>
                <div class="px-3 py-1" style="white-space: nowrap;">No new notifications</div>
            </li>
        {% endfor %}
    </ul>
</li>
