{% extends "base.html" %}
{% load static %}

{% block content %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
    {% include 'modal/modal.html' %}
    <div class="container mb-5">
        <div class="d-flex justify-content-between">
            <h2> Boards </h2>
            <h2><u> {{ project.name }} </u></h2>
        </div>

        <div class="row row-cols-5 g-3">
            {% for board in project.board_set.all %}
                <div class="col">
                    <div class="card hover-effect">
                        <div class="card-body">
                            <h5 class="card-title"> {{ board.name }} </h5>
                            <p class="card-text"> {{ board.description|default:"&nbsp" }} </p>
                        </div>
                        <a class="stretched-link" href="{% url 'board-detail' board.id %}" role="button"></a>
                    </div>
                </div>
            {% endfor %}
            <p><a class="btn btn-primary" href="{% url 'board-add' %}">Add a new board</a></p>
        </div>
    </div>

    <div class="container">
        <div class="table-responsive">
            <h2> Backlog </h2>
            <table class="datatable table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Created by</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% load custom_tags %}
                {% for issue in project.issue_set|in_backlog %}
                    <tr>
                        <td>{{ issue.get_issue_type_display }}</td>
                        <td>{{ issue.name }}</td>
                        <td>{{ issue.description }}</td>
                        <td>{{ issue.created_by }}</td>
                        <td>
                            <a class="btn btn-primary mr-4" href="{% url 'issue-update' issue.id %}">
                                Edit
                            </a>
                            <a class="btn btn-secondary" href="{{ issue.get_absolute_url }}">
                                Details
                            </a>
                            <button class="modal-link-m btn btn-danger" type="button"
                                    data-form-url="{% url 'issue-delete' issue.id %}">
                                Delete
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <p><a class="btn btn-primary" href="{% url 'issue-add' %}"> Add a new Issue </a></p>
    </div>

    <div class="container">
        <div class="table-responsive">
            <h2> Members </h2>
            <table class="datatable table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">User</th>
                    <th scope="col">Date joined</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% load custom_tags %}
                {% for member in project.permission_group.members.all %}
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-auto profile-picture-small">
                                    {% if member.profile.profile_picture %}
                                        <img src="{{ member.profile.profile_picture.url }}" alt="Profile Picture">
                                    {% else %}
                                        <img src="{% static 'images/profile.jpg' %}" alt="Default Profile Picture">
                                    {% endif %}
                                </div>
                                <div class="col">{{ member.username }}</div>
                            </div>
                        </td>
                        <td>{{ project.permission_group|date_joined:member }}</td>
                        <td>
                            <button class="modal-link-m btn btn-danger" type="button"
                                    data-form-url="{% url 'remove-member' project.permission_group.id member.id %}">
                                Remove
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <p><a class="btn btn-primary" href="{% url 'invite-add' project.id %}"> Invite </a></p>
    </div>
{% endblock %}